@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

/* .tab-content {
    height: 100vh;
} */

.navbar {
    background-color: #6EB954;
    color: #fff;
}

#pills-tab .nav-link {
    color: #fff;
}

#pills-tab .nav-link:hover {
    color: blueviolet;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link, .btn.btn-primary {
    background-color: blueviolet;
    border-color: transparent;
}

.btn.btn-primary:hover {
    background-color: blueviolet;
    border-color: blueviolet;
    opacity: 0.7;
}

.badge .bg-primary {
    background-color: blueviolet;
    border-color: blueviolet;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.logo i {
    font-size: 28px;
}

#pills-users .nav-link {
    color: #495057;
}

#pills-users .nav-link:hover {
    color: blueviolet;
}

#pills-users .nav-link.active {
    color: blueviolet;
}

#pills-users .list-group-item.active {
    background-color: blueviolet;
    border-color: blueviolet;
}

#pill-users li.nav-item {
    background-color: blueviolet;
    border-color: blueviolet;
}

/* Use with object html
object {
    width: 100vh;
    height: 100vh;
} */